div.ejercicio1{
  border: solid black 1px;
  width: 900px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.ejercicio1 div{
  background-color: #58556b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/*-----------------------------------------------------------*/

div.ejercicio2{
  border: solid black 1px;
  width: 900px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.ejercicio2 div{
  background-color: #58556b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ejercicio2 div.principal{
  grid-column: 1 / 4;
}

/*-----------------------------------------------------------*/

div.ejercicio3{
  border: solid black 1px;
  width: 900px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.ejercicio3 div{
  background-color: #58556b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ejercicio3 div.principal{
  grid-column: 1 / 4;
}

.ejercicio3 div.secundario{
  grid-row: 2 /4;
}

/*-----------------------------------------------------------*/

div.ejercicio4{
  border: solid black 1px;
  width: 900px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.ejercicio4 div{
  background-color: #58556b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ejercicio4 div.principal{
  grid-area: 1 / 1 / 1 / 4;
}

.ejercicio4 div.secundario{
  /*grid-area: row-start / column-start / row-end / column-end;*/
  grid-area: 2 / 1 / 4 / 1;
}

/*-----------------------------------------------------------*/

div.ejercicio5{
  border: solid black 1px;
  width: 900px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.ejercicio5 div{
  background-color: #58556b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ejercicio5 div.principal{
  grid-area: 1 / 1 / 1 / 4;
}

.ejercicio5 div.secundario{
  /*grid-area: row-start / column-start / row-end / column-end;*/
  grid-area: 1 / span 4 / span 2 / span 4;
}

/*-----------------------------------------------------------*/

div.ejercicio6{
  border: solid black 1px;
  width: 900px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.ejercicio6 div{
  background-color: #58556b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ejercicio6 div.principal{
  /*grid-area: row-start / column-start / row-end / column-end;*/
  grid-area: 1 / 1 / 1 / 4;
}

.ejercicio6 div.secundario{
  /*grid-area: row-start / column-start / row-end / column-end;*/
  grid-area: 1 / 4 / 1 / 7;
}

.ejercicio6 div.terciario{
  /*grid-area: row-start / column-start / row-end / column-end;*/
  grid-area: 2 / 1 / 2 / 3;
}

.ejercicio6 div.cuartenario{
  /*grid-area: row-start / column-start / row-end / column-end;*/
  grid-area: 2 / 3 / 2 / 7;
}

.ejercicio6 div.quinario{
  /*grid-area: row-start / column-start / row-end / column-end;*/
  grid-area: span 3 / 1 / span 3 / span 6;
}

/*-----------------------------------------------------------*/

/* Ejercicio 07 */
div.ejercicio7 {
  width: 450px;
  display: grid;
  gap: 1px;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
}

div.ejercicio7 > div {
  background-color: #5F717D;
  padding: 16px;
  color: white;
  text-align: center;
  font-size: 14px;
}

div.ejercicio7 div.principal {
  background-color: #9C5E11;
  grid-area: header;
}

div.ejercicio7 div.cuartenario {
  background-color: #4F1511;
  grid-area: footer;
}

/*-----------------------------------------------------------*/

div.ejercicio8{
  border: solid black 1px;
  width: 900px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

div.ejercicio8 > div {
  background-color: #5F717D;
  padding: 16px;
  color: white;
  text-align: center;
  font-size: 14px;
}

.ejercicio8 div.principal{
  order: 1;
}

/*-----------------------------------------------------------*/

div.ejercicio9{
  border: solid black 1px;
  width: 900px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  padding: 10px;
}

div.ejercicio9 > div {
  background-color: #5F717D;
  padding: 16px;
  color: white;
  text-align: center;
  font-size: 14px;
}

/*-----------------------------------------------------------*/

div.ejercicio10{
  border: solid black 1px;
  width: fit-content;
  height: 300px;
  display: grid;
  grid-template-columns: 300px 500px;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 10px;
  padding: 10px;
}

div.ejercicio10 > div {
  background-color: #5F717D;
  padding: 16px;
  color: white;
  text-align: center;
  font-size: 14px;
  
}

.ejercicio10 .cuartenario{
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
}

.ejercicio10 .cuartenario{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.ejercicio10 .cuartenario div{
  background-color: #5F717D;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.ejercicio10 .cuartenario div:first-of-type{
  grid-column-start: 1;
  grid-column-end: 3;
}

.ejercicio10 .principal, .ejercicio10 .secundario, .ejercicio10 .terciario, .ejercicio10 .quinario{
  display: flex;
  align-items: center;
  justify-content: center;
}



